.container
      header.jumbotron.masthead
        .inner
          h1 fluxus.js
          // h2 JavaScript Hack Art
          p
            | JavaScript Hack Art.
          p
            | Fluxus.js encourages a "do-it-yourself" aesthetic, and values simplicity over complexity. Fluxus.js includes a strong current of anti-commercialism and an anti-art sensibility, disparaging the conventional market-driven art world in favor of an artist-centered creative practice.
          p.download-info
            a.btn.btn-primary.btn-large(href='https://github.com/jessecravens/fluxus.js') View project on GitHub
            a.btn.btn-large(href='https://github.com/jessecravens/fluxus.js/tarball/master')
              | Download fluxus.js
              small  (v2.0.2)
        .bs-links
          ul.quick-links
            li
              iframe.github-btn(src='http://markdotto.github.com/github-buttons/github-btn.html?user=jessecravens&repo=fluxusjs&type=watch&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='112px', height='20px')
            li
              iframe.github-btn(src='http://markdotto.github.com/github-buttons/github-btn.html?user=twitter&repo=jessecravens&type=fork&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='98px', height='20px')
            li.follow-btn
              a.twitter-follow-button(href='https://twitter.com/fluxusjs', data-link-color='#0069D6', data-show-count='true') Follow @fluxusjs
            li.tweet-btn
              a.twitter-share-button(href='https://twitter.com/share', data-url='https://github.com/jessecravens/fluxus.js', data-count='horizontal', data-via='fluxusjs', data-related='mdo:Creator of FluxusJS') Tweet
      hr.soften
    script(type='text/javascript', src='http://platform.twitter.com/widgets.js')
    script(src='assets/js/jquery.js')
    script(src='assets/js/google-code-prettify/prettify.js')
    script(src='assets/js/bootstrap-transition.js')
    script(src='assets/js/bootstrap-alert.js')
    script(src='assets/js/bootstrap-modal.js')
    script(src='assets/js/bootstrap-dropdown.js')
    script(src='assets/js/bootstrap-scrollspy.js')
    script(src='assets/js/bootstrap-tab.js')
    script(src='assets/js/bootstrap-tooltip.js')
    script(src='assets/js/bootstrap-popover.js')
    script(src='assets/js/bootstrap-button.js')
    script(src='assets/js/bootstrap-collapse.js')
    script(src='assets/js/bootstrap-carousel.js')
    script(src='assets/js/bootstrap-typeahead.js')
    script(src='assets/js/application.js')
